#bd-login
{
	background-image: url('../img/plano_de_fundo.jpg');
}

.lb-login
{
	color: #FFFFFF;
	font-size: 16px;
}

#hd-login
{
	color: #FFFFFF;
	text-align: center;
	margin-top: 165px;
}

#hd-cdu
{
	text-align: center;
	margin-top: 30px;
}

#formlogin
{
	margin-left: 390px;
	margin-top:  20px;
}

.hr-login
{
	width: 500px;
}

.parallax-prof{
			/*Imagem usada para o efeito parallax*/
			background-image: url('../img/plano_de_fundo.jpg');
			/*Altura especifica*/
			min-height: 300px;
			/*Criando o efeito parallax*/
			background-attachment: fixed;
			background-position: top;
			background-repeat: no-repeat;
			background-size: 1366px 600px;
		}

.parallax-cdu{
			/*Imagem usada para o efeito parallax*/
			background-image: url('../img/plano_de_fundo.jpg');
			/*Altura especifica*/
			min-height: 250px;
			/*Criando o efeito parallax*/
			background-attachment: fixed;
			background-position: top;
			background-repeat: no-repeat;
			background-size: 1366px 600px;
		}

.parallax{
			/*Imagem usada para o efeito parallax*/
			background-image: url('../img/plano_de_fundo.jpg');
			/*Altura especifica*/
			min-height: 300px;
			/*Criando o efeito parallax*/
			background-attachment: fixed;
			background-position: top;
			background-repeat: no-repeat;
			background-size: 1366px 600px;
		}